includes:
#	- ../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80300
	level: 6
	paths:
		- ../src
		- ../test
#		- ../demo
	excludePaths:
		- ../test/Parser/TestClass.php
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: missingType.generics
		- identifier: missingType.iterableValue